/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;800&display=swap');*/

.root {
    -fx-background-image: url('../assets/colors_of_sky.jpg');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}



#appName {
    -fx-font-weight: 800;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 60;
    -fx-fill: #3283CA;
}

#tagline {
    -fx-font-weight: 700;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 28;
    -fx-fill: #403d39;
}

#description {
    -fx-font-weight: 200;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 16;
    -fx-fill: #403d39;
}

#whereamiBtn {
    -fx-background-color: #3283CA;
    -fx-text-fill: white;
    -fx-font-weight: 400;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 14;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.05) ,0 ,1, 2 ,0);



}

#navigateBtn {
    -fx-background-color: white;
    -fx-font-weight: 600;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 14;
    -fx-background-radius: 5;
    -fx-text-fill: #3283CA;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.05) ,0 ,1, 2 ,0);
}

#request {
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 12;
    -fx-fill: #403d39;
}