#aside {
    -fx-background-radius: 10;
    -fx-background-color: #f8f9fa;
    -fx-scale-z: 9999999;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 0, 30, 0, 0);
}


#title {
    -fx-font-weight: 800;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size: 35;
    -fx-fill: #3283CA;
}

#search {
    -fx-background-radius: 8;
    -fx-border-width: 0;
    -fx-background-color: #f8f9fa;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 0, 30, 0, 0);
    -fx-font-size: 14;
    -fx-font-family: 'Product Sans', sans-serif;
    -fx-padding: 15;
    -fx-text-fill: #adb5bd;
    -fx-font-weight: 600;

}

#listView {
    -fx-background-radius: 8;
    -fx-border-width: 0;
    -fx-background-color: #f8f9fa;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 0, 30, 0, 0);
    -fx-font-size: 14;
    -fx-font-family: 'Product Sans', sans-serif;
    -fx-padding: 8;
    -fx-text-fill: #adb5bd;
}

#options {
    -fx-background-radius: 30;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 0, 30, 0, 0);
}


#closeSearch, #closePane, #openSearch, #openPane {
    -fx-background-radius: 50;
    -fx-background-color: #FFF;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 0, 30, 0, 0);
    -fx-cursor: hand;
}

#zoomin {
    -fx-background-color: #FFF;
    -fx-background-radius: 30 30 0 0;
    -fx-cursor: hand;
}


#zoomout{
    -fx-background-color: #FFF;
    -fx-background-radius: 0 0 30 30;
    -fx-cursor: hand;
}


#satellite, #layers, #locate, #print  {
    -fx-background-color: #FFF;
    -fx-cursor: hand;
}

#zoomin:hover, #zoomout:hover, #satellite:hover, #layers:hover, #locate:hover, #print:hover {
    -fx-background-color: #e9ecef;
}

#clearSearchBtn {
    -fx-background-color: transparent;
    -fx-cursor: hand;

}

#radioGroup {
    -fx-background-color: #FFF;
    -fx-background-radius: 8;
}

#osm, #googleHybrid, #googleStreets, #cyclOSM {
    -fx-font-family: 'Product Sans', sans-serif;
    -fx-font-size: 14;
    -fx-font-weight: 600;
    -fx-cursor: hand;
    -fx-text-fill: #6c757d;
    -fx-border-color: #adb5bd;
    -fx-border-width: 0 0 0.5 0;
}

#googleTerrain {
    -fx-font-family: 'Product Sans', sans-serif;
    -fx-font-size: 14;
    -fx-font-weight: 600;
    -fx-cursor: hand;
    -fx-text-fill: #6c757d;
}

.radio-button .radio {
    visibility: false;
}

#osm:hover{
    -fx-background-color: #e9ecef;
    -fx-background-radius: 8 8 0 0;
}

#googleHybrid:hover, #googleStreets:hover, #cyclOSM:hover{
    -fx-background-color: #e9ecef;
}

#googleTerrain:hover {
    -fx-background-color: #e9ecef;
    -fx-background-radius: 0 0 8 8;
}

#restaurantsBtn, #hotelsBtn, #banksBtn {
    -fx-background-color: #FFF;
    -fx-background-radius: 30;
    -fx-font-family: 'Product Sans', sans-serif;
    -fx-font-size: 16;
    -fx-text-fill: #6c757d;
    -fx-padding: 5 10;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 0, 30, 0, 0);

}

#restaurantsBtn:hover, #hotelsBtn:hover, #banksBtn:hover {
    -fx-background-color: #e9ecef;
}

#layersGroup {
    -fx-background-radius: 10;
    -fx-background-color: #FFF;
    -fx-spacing: 15;
    -fx-font-family: 'Product Sans', sans-serif;
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-text-fill: #6c757d;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 0, 30, 0, 0);
}